/* Style du corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Style du titre */
h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #007bff; /* Couleur bleue */
    text-transform: uppercase; /* Convertit le texte en majuscules */
    font-family: 'Arial Black', sans-serif; /* Police de caractères */
}

/* Style du formulaire */
.account-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style des étiquettes */
.account-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style des champs de saisie */
.account-form input[type="text"],
.account-form input[type="email"],
.account-form input[type="password"],
.account-form input[type="number"],
.account-form input[type="checkbox"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

/* Style du bouton */
.account-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    width: 100%;
}

.account-form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style des informations du cuisinier */
.chef-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chef-info h3 {
    margin-bottom: 15px;
}

.chef-info p {
    margin-bottom: 10px;
}

/* Réduire la taille de la photo de profil */
.chef-info img {
    max-width: 100%; /* Pour s'assurer que l'image ne dépasse pas la largeur de son conteneur */
    height: auto; /* Pour conserver les proportions de l'image */
    border-radius: 5px;
}
