/* Accueil.css */

/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style du corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
}

/* Style de la barre de navigation */
nav {
    background-color: #007bff;
    padding: 20px;
    color: #fff;
}

nav h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f8f9fa;
}

/* Style de la section principale */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Style de la barre de recherche */
.search-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #0056b3;
}

/* Style de la section de présentation des recettes */
.recipes {
    margin-top: 40px;
    text-align: left;
}

.recipes h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Style du pied de page */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}
