<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recettes de chez Nous - Accueil</title>
    <link rel="stylesheet" href="../static/css/accueil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="../static/js/accueil.js"></script>       
</head>
<body>
    <!-- Barre de navigation -->
    <nav>
        <div class="container">
            <h1 id="titre">Recettes de chez Nous</h1>
            <ul>
                <li><a href="#">Recettes</a></li>
                <!-- Modified part: Link to the ingredient list page -->
                <li><a href="{{ url_for('show_ingredients') }}">Ingrédients</a></li>
                <li><a href="{{ url_for('categories') }}">Catégories</a></li> <!-- Modified: Link to the categories page -->
                {% if 'user_id' in session %}
                {% if cuisinier %}
                    <li><a href="{{ url_for('create_recipe') }}">Créer une recette</a></li>
                {% endif %}
                <li><a href="{{ url_for('account') }}">Compte ({{ session['pseudo'] }})</a></li>
                <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Contenu principal -->
    <div class="container">
        <!-- Barre de recherche -->
        <div class="search-bar">
            <input type="text" id="searchQuery" placeholder="Search for recipes..." oninput="filterRecipes()">
        </div>
        <!-- Section de présentation des recettes -->
        <section class="recipes">
            {% for recette in recettes %}
            <div class="recipe-card">
                <img src="{{ recette.photo }}" alt="Photo de {{ recette.nom }}">
                <h3>{{ recette.nom }}</h3>
                <div class="difficulty">
                    <span class="difficulty-level">{{ recette.difficulte }}</span>
                    <a href="{{ url_for('recette', id=recette.id) }}" class="recipe-button">Voir la recette</a>
                </div>
            </div>
            {% endfor %}
        </section>

    </div>

    <!-- Pied de page -->
    <footer>
        <div class="container">
            <p>Nos noms</p>
        </div>
    </footer>
</body>
</html>
