<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une recette</title>
    <link rel="stylesheet" href="../static/css/create_recipe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/create_recipe.js"></script>

</head>
<body>
    <h2>Créer une recette</h2>
    <form method="POST" action="{{ url_for('create_recipe') }}" enctype="multipart/form-data">
        <!-- Champs pour le nom de la recette -->
        <label for="nom">Nom de la recette:</label><br>
        <input type="text" id="nom" name="nom" required><br>

        <!-- Champs pour le temps de préparation -->
        <label for="temps_preparation">Temps de préparation:</label><br>
        <select id="temps_preparation" name="temps_preparation" required>
            <option value="15">15 minutes</option>
            <option value="30">30 minutes</option>
            <option value="45">45 minutes</option>
            <option value="60">1 heure</option>
            <option value="90">1 heure 30 minutes</option>
            <option value="120">2 heures</option>
        </select><br>

        <!-- Champs pour le type de recette, maintenant chargé dynamiquement -->
        <label for="type_recette">Type de recette:</label><br>
        <select id="type_recette" name="type_recette" required>
            {% for type in types %}
            <option value="{{ type.id }}">{{ type.type }}</option>
            {% endfor %}
        </select><br>

        <!-- Champs pour la catégorie de recette, chargé dynamiquement -->
        <label for="categorie_recette">Catégorie de recette:</label><br>
        <select id="categorie_recette" name="categorie_recette" required>
            {% for categorie in categories %}
            <option value="{{ categorie.id }}">{{ categorie.type }}</option>
            {% endfor %}
        </select><br>

        <!-- Champs pour la portion -->
        <label for="portion">Portion:</label><br>
        <select id="portion" name="portion" required>
            <option value="1">1 portion</option>
            <option value="2">2 portions</option>
            <option value="4">4 portions</option>
            <option value="8">8 portions</option>
        </select><br>

        <!-- Champs pour la difficulté de la recette, chargé dynamiquement -->
        <label for="difficulte_recette">Difficulté de la recette:</label><br>
        <select id="difficulte_recette" name="difficulte_recette" required>
            {% for difficulte in difficultes %}
            <option value="{{ difficulte.id }}">{{ difficulte.type }}</option>
            {% endfor %}
        </select><br>

        <!-- Champs pour les ingrédients, chargés dynamiquement -->
        <label for="ingredients_search">Rechercher un ingrédient:</label><br>
        <input type="text" id="ingredients_search" onkeyup="filterIngredients()" placeholder="Recherche d'ingrédients"><br>
        <div id="ingredient_list">
            {% for ingredient in ingredients %}
            <div class="ingredient">
                <input type="checkbox" id="ingredient{{ ingredient.id }}" name="ingredients" value="{{ ingredient.id }}">
                <label for="ingredient{{ ingredient.id }}">{{ ingredient.nom }}</label><br>
            </div>
            {% endfor %}
        </div>

        <!-- Champs pour la photo de la recette -->
        <label for="photo">Photo de la recette:</label><br>
        <input type="file" id="photo" name="photo" required><br>

        <!-- Champs pour les étapes -->
        <label for="etapes">Étapes:</label><br>
        <textarea id="etapes" name="etapes" rows="5" required></textarea><br>

        <button type="submit">Créer la recette</button>
    </form>

    <script>
        

    </script>

</body>
</html>
