<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h2>Créer un compte</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <div class="form-group">
            <label for="nom">Nom:</label><br>
            <input type="text" id="nom" name="nom" required value="{{ request.form.get('nom', '') }}"><br>
        </div>
        <div class="form-group">
            <label for="prenom">Prénom:</label><br>
            <input type="text" id="prenom" name="prenom" required value="{{ request.form.get('prenom', '') }}"><br>
        </div>
        <div class="form-group">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required value="{{ request.form.get('email', '') }}"><br>
        </div>
        <div class="form-group">
            <label for="age">Age:</label><br>
            <input type="number" id="age" name="age" required value="{{ request.form.get('age', '') }}"><br>
        </div>
        <div class="form-group">
            <label for="pseudo">Pseudo:</label><br>
            <input type="text" id="pseudo" name="pseudo" required value="{{ request.form.get('pseudo', '') }}"><br>
        </div>
        <div class="form-group">
            <label for="mot_de_passe">Mot de passe:</label><br>
            <input type="password" id="mot_de_passe" name="mot_de_passe" required value="{{ request.form.get('mot_de_passe', '') }}"><br>
        </div>
        <div class="form-group">
            <label for="bool_cuisinier">Cuisinier:</label><br>
            <input type="checkbox" id="bool_cuisinier" name="bool_cuisinier" value="1"><br><br>
        </div>
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        <button type="submit">Register</button>
    </form>

    <footer>
        <div class="container">
            <p>Thomas Florian Devincenzi & Mattieu Girard-Métivier & Samuel Verreault</p>
        </div>
    </footer>
</body>
</html>
